[submodule "unity"]
	path = unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "docs/book"]
	path = docs/book
	url = https://github.com/codybartfast/sicp-book
[submodule "wasm/emsdk"]
	path = wasm/emsdk
	url = https://github.com/emscripten-core/emsdk.git
